@import "tailwindcss";

@plugin "@tailwindcss/typography";

@theme {
  --color-background: #F9F4DA;
  --color-foreground: #1E1E1E;
  --color-accent: #5A3E36;

  --font-libreBaskerville: "Libre Baskerville", "serif";
  --spacing: 0.5rem;
}

@layer base {
  @font-face {
    font-family: "Libre Baskerville";
    src: url("/fonts/LibreBaskerville-Regular.ttf") format("tff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  html {
    scroll-behavior: smooth;
  }

  ::selection {
    @apply bg-accent/20;
  }

  ::-moz-selection {
    @apply bg-accent/20;
  }

  body {
    @apply antialiased min-h-fit flex flex-col md:flex-row p-4 lg:p-24 bg-background text-foreground font-libreBaskerville;
  }
}

.prose {

  & * {
    @apply m-0 text-foreground
  }

  h1 {
    @apply mt-8;
  }

  h2 {
    @apply mt-7;
  }

  h3 {
    @apply mt-6;
  }

  h4 {
    @apply mt-5;
  }

  h5 {
    @apply mt-4 font-[420];
  }

  h6 {
    @apply mt-3;
  }

  p {
    @apply mt-3 leading-relaxed;
  }

  a {
    @apply text-accent underline decoration-[0.5px] underline-offset-3 decoration-dashed hover:decoration-solid hover:bg-accent/20 transition-colors;
  }

  code {
    @apply relative bg-foreground/10 px-[0.3rem] py-[0.1rem] font-mono text-sm font-semibold before:content-none after:content-none;
  }

  hr {
    @apply mt-6 border-accent/20;
  }

  mark {
    @apply text-accent bg-accent/10;
  }
}
