@import "tailwindcss";

pre.astro-code {
	@apply mt-4 rounded-none border-[1px] border-muted-foreground/20 !invert-100 !bg-foreground/10;
	padding: 20px 24px;
}

pre.astro-code code {
	@apply !text-xs;
}

pre.astro-code code .line span::selection {
	background-color: --alpha(#475266 / 20%) !important;
}

pre.astro-code code .line span::-moz-selection {
	background-color: --alpha(#475266 / 20%) !important;
}

.line {
	display: inline;
	padding-bottom: 0;
}

.line.highlighted {
	@apply !bg-foreground/40;
	margin: 0 -24px !important;
	padding: 0 24px;
	width: calc(100% + 48px) !important;
	display: inline-block;
}

.diff {
	display: inline-block;
	width: 100vw;
	position: relative;
	margin: 0 -24px !important;
	padding: 0 24px;
	width: calc(100% + 48px) !important;
}

.diff.add {
	@apply bg-error/30;
}

.diff.remove {
	@apply bg-success/30;
}

.diff.remove::before {
	content: "-";
	color: var(--color-success);
}

.diff.add::before {
	content: "+";
	color: var(--color-error);
}

.diff::before {
	position: absolute;
	left: 10px;
}
