<section class="!mt-16 min-h-96">
  <script
    is:inline
    src="https://giscus.app/client.js"
    data-repo="nuexq/website-v2"
    data-repo-id="R_kgDOOEDqVg"
    data-category="General"
    data-category-id="DIC_kwDOOEDqVs4Cog3w"
    data-mapping="og:title"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="top"
    data-theme="https://un2ymss4od.ufs.sh/f/sJ3Aq28e4MVDInvzvPlMDRFsJiZbcHpqQwAylje0fId1CBuL"
    data-lang="en"
    crossorigin="anonymous"
    async></script>
</section>
