---
interface Props {
  tag: string;
}
const { tag } = Astro.props;
---

<a
  href=`/writing/tags/${tag}`
  class="prose !border-none hover:!bg-transparent hover:!bg-none"
>
  <mark class="text-xs px-1 transition-colors hover:!bg-accent/15"
    >{tag}</mark
  >
</a>
