---
import { siteConfig } from "@/config/site";
---

<footer
  class="mx-auto prose mt-8 w-full max-w-none border-t-[1px] border-t-accent/20 py-5 text-sm"
>
  <a href={siteConfig.links.github} target="_blank">GitHub</a> •
  <a href={siteConfig.links.x} target="_blank">X</a> •
  <a href={siteConfig.links.bluesky} target="_blank">Bluesky</a> • <span
    >Discord: @{siteConfig.links.discord}</span
  >
</footer>
