---
import NavLink from "@/components/NavLink.astro";
import { siteConfig } from "@/config/site";

let currentPath = Astro.url.pathname;
const pathSegments = currentPath.split("/");
const cleanPath = `/${pathSegments[1]}`;
---

<header
  id="header"
  class="flex max-h-32 flex-col justify-between gap-6 overflow-hidden bg-foreground px-12 py-3 text-background transition-all duration-600 ease-in-out has-[nav[aria-hidden='true']]:max-h-12 sm:flex-row sm:items-center sm:gap-0"
>
  <div class="flex min-h-6 items-center justify-between">
    <div class="font-display text-xl">
      <a href="/">{siteConfig.name}</a>
      <span class="text-xs text-background/90 sm:hidden">{cleanPath}</span>
    </div>
    <button
      class="cursor-pointer text-sm sm:hidden"
      id="menu-btn"
      aria-expanded="false"
      aria-controls="main-nav"
      aria-label="Toggle menu"
    >
      Menu
    </button>
  </div>
  <nav
    id="main-nav"
    aria-label="Main navigation"
    class="group flex items-start gap-6 opacity-100 transition-opacity duration-800 ease-in-out max-sm:pb-2 max-sm:aria-hidden:opacity-0 sm:flex-row"
    aria-hidden="false"
  >
    <NavLink href="/">Home</NavLink>
    <NavLink href="/projects">Projects</NavLink>
    <NavLink href="/writing">Writing</NavLink>
  </nav>
</header>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const menuBtn = document.getElementById("menu-btn");
    const header = document.getElementById("header");
    const nav = document.getElementById("main-nav");

    function updateNavVisibility() {
      if (window.innerWidth >= 640) {
        nav.setAttribute("aria-hidden", "false");
      } else {
        nav.setAttribute("aria-hidden", "true");
      }
    }

    if (menuBtn && header && nav) {
      let isOpen = false;

      menuBtn.addEventListener("click", () => {
        isOpen = !isOpen;
        menuBtn.setAttribute("aria-expanded", isOpen.toString());
        nav.setAttribute("aria-hidden", (!isOpen).toString());
      });

      updateNavVisibility();

      window.addEventListener("resize", updateNavVisibility);
    }
  });
</script>
