---
interface Props {
  href: string;
}
const { href } = Astro.props;
const currentPath = `/${Astro.url.pathname.split("/")[1]}`;

const normalizedHref = href.startsWith("/") ? href : `/${href}`;
const isActive = currentPath === normalizedHref;
---

<a
  href={normalizedHref}
  class="text-bar-foreground/80 transition-colors hover:text-bar-foreground aria-[current='page']:text-bar-foreground"
  {...isActive ? { "aria-current": "page" } : {}}
>
  <slot />
</a>
