---
import Home from "@/content/home.mdx";
import Default from "@/layouts/Default.astro";
import { siteConfig } from "@/config/site";
let layoutProps = {
  title: "index",
  description: siteConfig.description,
  enableProse: true,
};
---

<Default {...layoutProps}>
  <p slot="header">
    <a href={siteConfig.links.github}>GitHub</a> ·
    <a href={siteConfig.links.bluesky}>Bluesky</a> ·
    <a href={siteConfig.links.x}>X</a> · Discord: @{siteConfig.links.discord}
  </p>
  <Home />
</Default>
