---
import '../styles/global.css';
---

<div class="w-full flex justify-center items-center">
  <h1>nuexq is <span class="text-accent underline underline-offset-2 decoration-dashed hover:decoration-solid hover:bg-accent/20">here</span>.</h1>
</div>
