---
import MainLayout from "../layouts/mainLayout.astro";
---

<MainLayout title="nuexq">
  <article>
    <!-- <h1> -->
    <!--   nuexq is <span -->
    <!--     class="text-accent underline underline-offset-2 decoration-dashed hover:decoration-solid hover:bg-accent/20 transition-colors" -->
    <!--     >here</span -->
    <!--   >. -->
    <!-- </h1> -->
    <h1 class="text-xl">nuexq</h1>
  </article>
</MainLayout>
