<footer class="mx-auto w-full text-sm border-t-accent/20 border-t-[1px] py-5">
  <a href="http://github.com/nuexq" target="_blank">Github</a> •
  <a href="https://x.com/_neuxq" target="_blank">X</a> •
  <a href="https://bsky.app/profile/nuexq.bsky.social" target="_blank"
    >Bluesky</a
  > • <span>Discord: @nuexq</span>
</footer>
