---
import Link from "@/components/ui/Link.astro";
---

<header
  id="header"
  class="flex max-h-32 flex-col justify-between gap-6 overflow-hidden bg-foreground px-12 py-3 text-background transition-all duration-600 ease-[cubic-bezier(0.4,0,0.2,1)] has-[nav[aria-hidden='true']]:max-h-12 sm:flex-row sm:items-center sm:gap-0"
>
  <div class="flex min-h-6 items-center justify-between">
    <p class="font-libreBaskerville text-xl">nuexq</p>
    <button
      class="cursor-pointer text-sm sm:hidden"
      id="menu-btn"
      aria-expanded="false"
      aria-controls="main-nav"
      aria-label="Toggle menu"
    >
      Menu
    </button>
  </div>
  <nav
    id="main-nav"
    aria-label="Main navigation"
    class="group flex items-start gap-8 opacity-100 transition-opacity duration-800 ease-[cubic-bezier(0.4,0,0.2,1)] max-sm:pb-2 max-sm:aria-hidden:opacity-0 sm:flex-row"
    aria-hidden="true"
  >
    <Link href="/">Home</Link>
    <Link href="/projects">Projects</Link>
    <Link href="/writing">Writing</Link>
  </nav>
</header>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const menuBtn = document.getElementById("menu-btn");
    const header = document.getElementById("header");
    const nav = document.getElementById("main-nav");

    if (menuBtn && header && nav) {
      let isOpen = false;

      menuBtn.addEventListener("click", () => {
        isOpen = !isOpen;

        menuBtn.setAttribute("aria-expanded", isOpen.toString());
        nav.setAttribute("aria-hidden", (!isOpen).toString());
      });
    }
  });
</script>
