<nav
  class="flex h-6 w-screen items-center justify-between bg-foreground px-6 text-background"
>
  <p>nuexq</p>
  <div class="flex items-center gap-4">
    <a href="/">Home</a>
    <a href="/projects">Project</a>
    <a href="/writing">Writing</a>
  </div>
</nav>
