---
import "../styles/global.css";
import Navigation from "./components/navigation/Navigation.astro";
import Footer from "./components/Footer.astro";
import Head from "./components/Head.astro";
import ContentHeader from "./components/ContentHeader.astro";

interface Props {
  title: string;
  description: string;
  enableProse: boolean;
  publishedTime?: string;
}
const { title, description, enableProse, publishedTime } = Astro.props;
---

<html lang="en" class={Astro.cookies.get('theme')?.value || 'system'}>
  <Head {title} {description} {...publishedTime && { publishedTime }} />
  <body class="mx-auto flex min-h-screen flex-col gap-8">
    <Navigation />

    <main class="mx-auto flex w-full max-w-[80ch] flex-col px-10 py-8 lg:px-0">
      <ContentHeader {title}>
        <slot name="header" />
      </ContentHeader>
      <article class={`max-w-none ${enableProse ? "prose" : ""}`}>
        <slot />
      </article>
      <Footer />
    </main>
  </body>
</html>
