---
interface Props {
  title: string;
  enableProse: boolean;
}
import "../styles/global.css";
const { title, enableProse } = Astro.props;
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import { siteConfig } from "@/config/site";
import { cn } from "@/lib/utils";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title} - {siteConfig.name}</title>
  </head>
  <body class="mx-auto flex min-h-screen flex-col gap-8">
    <Header />
    <main class="mx-auto flex w-full max-w-[80ch] flex-col px-4 py-8 md:px-0">
      <slot name="header" />
      <article class={cn("max-w-none mt-5", enableProse && "prose")}>
        <slot name="content" />
      </article>
      <Footer />
    </main>
  </body>
</html>
