---
interface Props {
  title: string;
}
import "../styles/global.css";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <title>{title}</title>
  </head>
  <body>
    <main
      class="prose flex flex-col w-full mx-auto md:max-w-screen-md px-4 pb-4 max-md:pt-6 sm:px-6"
    >
      <slot />
    </main>
  </body>
</html>
