---
interface Props {
  title: string;
}
import "../styles/global.css";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <title>{title}</title>
  </head>
  <body>
    <nav class="flex h-6 w-screen items-center justify-between bg-foreground px-6 text-background">
      <p>nuexq</p>
      <div class="flex items-center gap-4">
        <a href="/">Home</a>
        <a href="/about">Project</a>
        <a href="/contact">Writing</a>
      </div>
      </div>
    </nav>
    <main
      class="mx-auto prose-lg flex w-full flex-col px-4 pb-4 max-md:pt-6 sm:px-6 md:max-w-screen-lg"
    >
      <slot />
    </main>
  </body>
</html>
