---
interface Props {
  title: string;
}
import "../styles/global.css";
const { title } = Astro.props;
import Nav from "../components/Nav.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <title>{title}</title>
  </head>
  <body>
    <Nav />
    <main
      class="mx-auto prose flex w-full flex-col px-4 pb-4 max-md:pt-6 sm:px-6 md:max-w-screen-md"
    >
      <slot />
    </main>
  </body>
</html>
