---
import { getCollection } from "astro:content";
import MainLayout from "@/layouts/mainLayout.astro";
import { getEntry } from "astro:content";
import { formateDate } from "@/lib/utils";

export async function getStaticPaths() {
  const posts = await getCollection("writing");

  return posts.map((post) => ({
    params: { slug: post.slug },
  }));
}

const { slug } = Astro.params;
const post = await getEntry("writing", slug);
if (!post) return Astro.redirect("/404");

const { title, date } = post.data;
const { Content } = await post.render();

const isoStringDate = date.toISOString();
const formattedDate = formateDate(date);
---

<MainLayout title={title}>
  <h1>{title}</h1>
  <p class="text-sm !mt-1">
    <time dateTime={isoStringDate}>{formattedDate}</time>
  </p>
  <hr />

  <Content />
</MainLayout>
