---
import { cn } from "@/lib/utils";

interface Props {
  href: string;
}
const { href } = Astro.props;
const currentPath = Astro.url.pathname;

const normalizedHref = href.startsWith("/") ? href : `/${href}`;
---

<a
  href={normalizedHref}
  class={cn(
    "text-background/80 transition-colors font-inter",
    currentPath === normalizedHref ? "text-background" : "hover:text-background"
  )}
>
  <slot />
</a>

